*{
	box-sizing: border-box;
}
html{
	background-color: #fff;
	background-image: url('back.png');
	padding: 0;
	margin: 0;
    color: #333;
    font-size: 16px;
    font-family: 'Meiryo', sans-serif;
}
body{
	margin: 0 auto;
	padding: 5em 35px;
	width: 1080px;
	display: block;
	background-color: #fff;
}
h1{
	margin: 0;
	padding: 0;
	font-size: 26px;
}
h2 {
	margin: 66px 0 24px 0;
	padding: 0 5px;
	border-bottom: thin dotted #0066cc;
	font-size: 22px;
}
hr{
	border: none;
	height: 1px;
	background-color: #ddd;
	margin: 40px auto;
	width: 80%;
}

p{
    line-height: 1.65;
}
.description{
}
.mininote{
	color: #aaa;
	font-size: 14px;
}
nav.breadcrumbs{
	margin-top: 50px;
	text-align: right;
}

table{
	border-collapse: collapse;
	margin: 36px auto;
}
table th{
	border: solid 1px #666666;
	padding: 5px;
	font-size: 14px;
	font-weight: normal;
	background-color: #e5e5e5;
}
table td{
	border: solid 1px #666666;
	padding: 5px;
	text-align: center;
	font-size: 14px;
	letter-spacing: -1px;
}
form{
	margin-top: 1em;
}

form textarea {
	border-radius: 5px 0 0 5px;
	box-shadow: 5px 5px 5px rgba(200,200,200,0.2)inset;
	border: 1px solid #888;
	padding:14px 10px 5px 14px;
	font-size:15px;
	width:650px;
	height:12em;
	margin-top:5px;
}
form input[type="submit"], input[type="reset"]{
	text-decoration: none;
	text-align: center;
	padding: 9px 15px 8px 15px;
	font-size: 16px;
	color: #fff;
	background-color:#5ba825;
	background:linear-gradient(to bottom, #84be5c 0%, #84be5c 70%, #5ba825 30%, #5ba825 100%);
	border:solid 1px #377d00;
	border-radius: 5px;
	line-height:1;
	vertical-align:middle;
	margin-top:5px;
	font-family: 'MS PGothic',sans-serif;
}

.socialbutton-list{
	margin-top: 0;
	padding-left: 0;
	list-style-type: none;
}
.socialbutton-list > li{
	display: inline-block;
	padding-right: 6px;
}

.socialbutton-balloon{
	background-color: #fff;
	border: solid 1px #ccc;
	height: 20px;
	line-height: 18px;
	display: inline;
	float: right;
	margin-left: 5px;
	font-size: 11px;
	text-align: center;
	padding: 0 5px;
	border-radius: 2px;
	font-family: Helvetica, Arial, "hiragino kaku gothic pro", meiryo, "ms pgothic", sans-serif;
	position: relative;
	box-sizing: border-box;
	/*display: none; 消しておく */
}
.socialbutton-balloon:after,
.socialbutton-balloon:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
}
.socialbutton-balloon:after {
	border-right-color: #fff;
	border-width: 4px;
	top: 5px;
}
.socialbutton-balloon:before {
	border-right-color: #ccc;
	border-width: 5px;
	top: 4px;
}
.socialbutton-balloon:link,
.socialbutton-balloon:visited,
.socialbutton-balloon:hover{
	color: #000;
	text-decoration: none;
}

